name      : 'Howl'
scopeName : 'source.howl'
type      : 'tree-sitter'
parser    : 'tree-sitter-howl'
fileTypes : ['howl']

scopes:
  mod: 'storage.modifier.cs'
  cat: 'keyword.other.class.cs'
  op: 'keyword.operator.cs'
  prim: 'keyword.type.cs'
  bt: 'constant.language.al'
  flow: 'keyword.control.cs'
  return: 'keyword.control.return.cs'
  key: 'keyword.other.cs'
  comment: 'comment.cs'
  z: 'operator.cs'
  #
  null: 'constant.language.null.cs'
  bool: 'constant.language.boolean.cs'
  char: 'string.quoted.single.cs'
  real: 'constant.numeric.cs'
  int: 'constant.numeric.cs'
  str: 'string.quoted.double.cs'
  #
  id: 'entity.name.id'
  type: 'entity.name.type'
  z: 'punctuation.other.cs'
