@import "syntax-variables";

@li: 0.95;
@bg: @syntax-background-color;
@bg-lum: luma(@bg);

// Root scope avoids language styling collisions
// Ref: https://www.rapidtables.com/web/css/css-color.html
.syntax--howl{

// Lowercase identifiers
&.syntax--entity when (@bg-lum < 50%){
    color: mix(@bg, wheat, 30%)*@li;
}
&.syntax--entity when (@bg-lum > 50%){
    color: mix(darkred, @syntax-text-color, 67%);
}

// Uppercase identifiers
&.syntax--entity.syntax--name.syntax--type{
    color: contrast(@bg, mix(skyblue, @bg, 75%), black);
}

// Braces, parens (and currently, operators)
&.syntax--punctuation.syntax--other{
    color: contrast(@bg, goldenrod * @li, darkblue);
}

&.syntax--keyword{

    // class, struct, interface ...
    &.syntax--other.syntax--class when (@bg-lum > 50%){
        color: tomato;
        font-size:100%  !important;
        border-bottom: 5px solid salmon;
    }
    &.syntax--other.syntax--class when (@bg-lum < 50%){
        color: deeppink;
        font-size: 105%;
        font-weight:bold !important;
        border-bottom: 3px solid tomato;
    }

    // Control flow
    &.syntax--control{
        color: contrast(@bg, gold * @li, red * 0.8);

        &.syntax--yield{
            color: red;
        }

        &.syntax--return{

            &.syntax--true{
                font-weight:bolder !important;
                color: contrast(@bg, mediumSeaGreen,
                                     green * 1.5 + snow * 0.2);
            }
            &.syntax--false{
                font-weight:bolder !important;
                color: contrast(@bg, indianred, orangered);
            }
            &.syntax--null{
                font-weight:bolder !important;
                color: contrast(@bg, papayawhip, indigo);
            }

        }  // end-return

    }  // end-control

    // Primitive types
    &.syntax--type{
        color: contrast(@bg, salmon * @li, indigo);
        // Adjusted for right vertical bars to match
        // -ᆨ-ᆩ+ᅮ+ᆞ-ᅭ-ㅅ-ㅆ-ㄹ|
        // ...|...|...|....|
        margin-left: -0.132em;
        margin-right: -0.132em;
    }

}  // end-keyword

// Type modifiers
&.syntax--storage{

    &.syntax--modifier when (@bg-lum > 50%){
        color: salmon;
        padding-right: 0.35em;
        padding-left: 0.35em;
        background-color: darken(@bg, 3%);
        border-right: 0.2em solid skyblue;
    }

    &.syntax--modifier when (@bg-lum < 50%){
        color: seagreen;
        padding: 2px;
        background-color: mix(chocolate, @bg, 10%);
        padding-right: 0.35em;
        padding-left: 0.35em;
        border-right: 0.15em solid mix(tomato, @bg, 50%);
    }

}  // end-storage

// ✓ and ✗
&.syntax--bool{
    font-size: 105%;

    &.syntax--true  { color: contrast(@bg, mediumSeaGreen, green); }
    &.syntax--false { color: contrast(@bg, indianred, red); }

}

// The 'return' keyword
.syntax--keyword.syntax--control.syntax--return{
  color: contrast(@bg, desaturate(gold*@li, 75%)*1.8, red);
}

// =====================================================

.syntax--vec{
    font-size: 105%;

    &.syntax--x  { color: salmon; }
    &.syntax--y  { color: seagreen; }
    &.syntax--z  { color: dodgerblue; }

}

// Active Logic ========================================

// status constants

.syntax--status{
    font-size: 105%;

    &.syntax--done  { color: contrast(@bg, mediumSeaGreen, green); }
    &.syntax--fail { color: contrast(@bg, indianred, red); }
    &.syntax--cont { color: contrast(@bg, deepskyblue, dodgerblue); }

}

} // end-howl
